#root {
  /* max-width: 1280px;
  margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

/* #datacenter{
  position: fixed;
  bottom: 0;
  left: 3vw;
  
} */
.App{
  min-height: 100vh;
  min-width: 100VW;
  background: #50A060;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.sign-in{
  background:#385A64 !important;
  color:#ffff !important;
  border: none !important;
}